# -*- coding: utf-8 -*-
# Python 3.12 & Django 3.2 compatible requirements

# --- 蓝鲸依赖 (Django 3.2 配置) ---
blueapps[opentelemetry]==5.0.0rc6
apigw-manager[cryptography]==1.1.7

# --- Django 生态 ---
Django==4.2.23
djangorestframework==3.15.1
django-filter==23.1
django-cors-headers==4.3.0
drf-yasg==1.21.7

# --- Celery 生态 ---
celery==5.3.0
django-celery-beat==2.8.0
django-celery-results==2.5.1
eventlet==0.39.1
greenlet==3.0.3

# interface
jsonschema==4.17.0
django-versionlog==1.8.1
bk-notice-sdk==1.4.2

# engine service
boto3==1.34.129
bamboo-pipeline==5.0.0rc0
pydantic==1.10.17
django-extensions==3.2.1

# bkflow feel
bkflow-feel==1.2.0
bkflow-dmn==0.2.0
bkflow-django-webhook==2.0.0rc0

# --- 核心工具库 ---
gunicorn==23.0.0
redis==4.6.0
requests==2.32.4
pymysql==1.1.1
Werkzeug==3.0.6

# --- 加密与认证 ---
pyCryptodome==3.20.0
PyJWT==2.8.0
cryptography==45.0.1

# --- PaaS 增强服务 (Sentry) ---
# sentry-sdk[django]==2.0.1
raven==6.10.0

# --- 其他三方库 ---
jmespath==1.0.1
pytimeparse==1.1.8
tldextract==5.1.2
pyinstrument==4.6.2
pytz==2023.4

django-dbconn-retry==0.1.9