@mixin required-asterisk {
    height: 8px;
    line-height: 1;
    content: "*";
    color: #ea3636;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translate(3px, -50%);
}

.credential-slider {
    ::v-deep .credential-slider-content {
        padding: 24px 40px;

        .plus-shape-icon,
        .minus-shape-icon {
            color: #c4c6cc;
            margin-right: 18px;
            cursor: pointer;

            &.is-disabled {
                color: #eaebf0;
                cursor: not-allowed;
            }
        }

        .credential-content-table {
            thead {
                th:not(.is-last) {
                    .bk-table-header-label {
                        &::after {
                            @include required-asterisk;
                        }
                    }
                }
            }

            tbody {
                td:not(.is-last) {
                    .cell {
                        padding: 0;

                        .bk-form-input {
                            height: 42px;
                            border: none;
                        }
                    }
                }
            }
        }

        .error-tip {
            font-size: 12px;
            color: #ea3636;
            line-height: 18px;
            margin: 2px 0 0;
            word-break: break-all;
        }
    }

    .credential-slider-footer {
        padding-left: 40px;
        .bk-button {
            min-width: 88px;
        }
    }
}
